.app-header .container {
    min-height: 6.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 767px) {
    .app-header .container {
        align-items: center;
        justify-content: center;
    }
}

.app-header h1 {
    padding: 0;
    margin: 1rem 0;
}