.app {
    --primary-bg-light: #666ad1;
    --primary-bg-color: #303f9f;
    --primary-bg-dark: #001970;
    --primary-fg-color: #fff;
    --accent-bg-light: #ffd95a;
    --accent-bg-color: #f9a825;
    --accent-bg-dark: #c17900;
    --accent-fg-color: #262626;
    --neutral-bg-color: #fff;
    --neutral-fg-color: #262626;
    --neutral-alt-fg-color: #626262;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.primary {
    background: var(--primary-bg-color);
    color: var(--primary-fg-color);
}

.accent {
    background: var(--accent-bg-color);
    color: var(--accent-fg-color);
}

.neutral {
    background: var(--neutral-bg-color);
    color: var(--neutral-fg-color);
}

button.primary,
input[type="button"].primary {
    background-image: linear-gradient(to bottom,
        var(--primary-bg-light) 0%,
        var(--primary-bg-color) 50%,
        var(--primary-bg-dark) 100%
    );
    border: 1px solid var(--primary-bg-dark);
    text-shadow: 0 0 0.3rem var(--primary-bg-light);
}

button.accent,
input[type="button"].accent {
    background-image: linear-gradient(to bottom,
        var(--accent-bg-light) 0%,
        var(--accent-bg-color) 50%,
        var(--accent-bg-dark) 100%
    );
    border: 1px solid var(--accent-bg-dark);
    text-shadow: 0 0 0.3rem var(--accent-bg-light);
}

button.primary:hover,
input[type="button"].primary:hover {
    box-shadow: inset 0 0 2rem var(--primary-bg-light);
    border: 1px solid var(--primary-bg-light);
    text-shadow: 0 0 0.3rem var(--primary-bg-color);
}

button.accent:hover,
input[type="button"].accent:hover {
    box-shadow: inset 0 0 2rem var(--accent-bg-light);
    border: 1px solid var(--accent-bg-light);
    text-shadow: 0 0 0.3rem var(--accent-bg-color);
}

button.primary:active,
input[type="button"].primary:active {
    box-shadow: inset 0 0 2rem var(--primary-bg-dark);
    border: 1px solid var(--primary-bg-dark);
    text-shadow: 0 0 0.3rem var(--primary-bg-dark);
}

button.accent:active,
input[type="button"].accent:active {
    box-shadow: inset 0 0 2rem var(--accent-bg-dark);
    border: 1px solid var(--accent-bg-dark);
    text-shadow: 0 0 0.3rem var(--accent-bg-dark);
}

.neutral > h1,
.neutral > h2,
.neutral > h3,
.neutral > h4,
.neutral > h5,
.neutral > h6 {
    color: var(--primary-bg-color);
}

.neutral a {
    color: var(--neutral-alt-fg-color);
}

.primary a {
    color: var(--accent-bg-color);
}

.accent a {
    color: var(--primary-bg-color);
}

.neutral a:hover {
    color: var(--accent-bg-color);
}

.primary a:hover {
    color: var(--accent-bg-light);
}

.accent a:hover {
    color: var(--primary-bg-light);
}

button.simple,
input[type="button"].simple {
    text-transform: uppercase;
    font-size: 1.4rem;
}

button.simple.primary,
input[type="button"].simple.primary {
    color: var(--primary-bg-color);
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

button.simple.accent,
input[type="button"].simple.accent {
    color: var(--accent-bg-color);
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

button.simple.primary:hover,
input[type="button"].somple.primary:hover {
    color: var(--primary-bg-light);
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

button.simple.accent:hover,
input[type="button"].simple.accent:hover {
    color: var(--accent-bg-light);
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

button.simple.primary:active,
input[type="button"].simple.primary:active {
    color: var(--primary-bg-dark);
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

button.simple.accent:active,
input[type="button"].simple.accent:active {
    color: var(--accent-bg-dark);
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

input[type="text"],
input[type="email"] {
    background-color: white;
    color: var(--neutral-fg-color);
    border: none;
    border-bottom: 2px solid var(--primary-bg-color);
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-bottom: 2px solid var(--accent-bg-color);
}

.chip {
    background-color: var(--neutral-bg-color);
    color: var(--neutral-fg-color);
    padding: 0.5rem 1rem;
    height: 2rem;
    border-radius: 2rem;
}