.article-short {
    margin: 2rem 0;
}

.article-short .category {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.article-short .category:first-child {
    margin-left: 0;
}

.article-short h3 {
    margin-bottom: 0;
}

.article-short h3 a {
    color: var(--primary-fg-color);
}

.article-short h3 a:hover {
    color: var(--accent-bg-color);
}

.article-short .controls {
    display: inline-block;
}

.article-short .controls i {
    margin-left: 0.5rem;
}

.article-short .controls i:hover {
    color: var(--accent-bg-color);
}