.article-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.article-editor .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.article-editor .title .title-field {
    max-width: 32rem;
    margin: 0;
}

.article-editor .title .controls {
    margin-left: 1rem;
}

.article-editor .multiselect__tag {
    background: var(--accent-bg-color);
    color: var(--accent-fg-color);
}

.article-editor .multiselect__tag-icon::after {
    color: var(--accent-fg-color);
}

.article-editor .multiselect__option--highlight {
    background: var(--accent-bg-color);
    color: var(--accent-fg-color);
}

.article-editor .multiselect__option--highlight::after {
    background: var(--accent-bg-color);
    color: var(--accent-fg-color);
}
.article-editor .multiselect__tag-icon:focus,
.article-editor .multiselect__tag-icon:hover {
    background: var(--accent-bg-dark);
    color: var(--accent-fg-color);
}

.article-editor > .controls {
    display: flex;
    justify-content: right;
}

.article-editor .controls button{
    margin-left: 1rem;
}

.article-editor .controls button:first-child{
    margin: 0;
}

.article-editor .editor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.article-editor .body-editor {
    margin-top: 1rem;
    width: 100%;
    flex-grow: 1;
}